[Unit]
Description=Telegram Bot API Exchange Rate
After=network.target

[Service]
RemainAfterExit=true
User=root
ExecStart=/usr/local/bin/tgBot/main -t=TOKEN_API
WorkingDirectory=/usr/local/bin/tgBot
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target